{
  "presets": [
    ["es2015", {"modules": false}],
    "es2016"
  ],
  "plugins": [
    "transform-runtime",
    "transform-es2015-modules-commonjs"
  ],
  "sourceMaps": "both",
  "compact" : false
}
